version: '3.1'

services:  
  backend:
    container_name: backend_cloud
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    image: benjr70/smart_smoker:backend:${VERSION}
    volumes:
      - /node_modules
    # build:
    #   context: ./apps/backend
    #   dockerfile: ./Dockerfile

    ports:
      - 8443:3001

    depends_on:
      - mongo

    links:
      - mongo

  mongo:
      container_name: mongo
      image: mongo:4.4.14-rc0-focal
      restart: always
      volumes:
        - ./../../../../database:/data/db:z
      ports:
        - 27017:27017
   
  
  frontend:
    container_name: frontend_cloud
    restart: always
    image: benjr70/smart_smoker:frontend:${VERSION}
    # build:
    #   context: ./apps/frontend
    #   dockerfile: ./Dockerfile

    ports:
      - 80:3000