---
all:
  children:
    runners:
      hosts:
        github-runner:
          ansible_host: smoker-runner  # Tailscale hostname (100.105.61.87)
          ansible_user: root
          ansible_python_interpreter: /usr/bin/python3

    cloud_servers:
      children:
        dev_cloud:
          hosts:
            smart-smoker-dev-cloud:
              ansible_host: smoker-dev-cloud  # Tailscale hostname (100.106.181.103)
              ansible_user: root
              ansible_python_interpreter: /usr/bin/python3
              environment: dev

        prod_cloud:
          hosts:
            smart-smoker-cloud-prod:
              ansible_host: smokecloud-1  # Tailscale hostname (100.83.77.76)
              ansible_user: root
              ansible_python_interpreter: /usr/bin/python3
              environment: prod

    devices:
      hosts:
        virtual-smoker-device:
          ansible_host: 10.30.0.40
          ansible_user: smoker
          ansible_python_interpreter: /usr/bin/python3
