# This is a basic workflow to help you get started with Actions

name: Build and Publish Smoker

# Controls when the workflow will run
on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
    inputs:
      version:
        description: 'version to release'
        type: string
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  buildSmoker:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/arm/v7

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.version }}

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '20.11.1'

      - name: Use npm 10
        run: npm i -g npm@10

      - name: Cache Node Modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Smoker build
        run: npm run build:prod --prefix apps/smoker

      - name: Build and push Smoker
        uses: docker/build-push-action@v3
        with:
          platforms: linux/arm/v7
          context: .
          file: apps/smoker/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/smart_smoker:smoker_V${{ github.event.inputs.version }}

  buildDeviceService:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/arm/v7

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      - name: Git Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.version }}


      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '20.11.1'

      - name: Use npm 10
        run: npm i -g npm@10

      - name: Cache Node Modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Device Service Build
        run: npm run build --prefix apps/device-service

      - name: Build and push Device Service
        uses: docker/build-push-action@v3
        with:
          platforms: linux/arm/v7
          context: .
          file: apps/device-service/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/smart_smoker:device-service_V${{ github.event.inputs.version }}


  buildElectronShell:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/arm/v7
          
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      - name: Git Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.version }}

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '20.11.1'

      - name: Use npm 10
        run: npm i -g npm@10

      - name: Cache Node Modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: electron-shell make
        run: npm run forgeLinux64:thin --prefix apps/smoker

      - name: Build and push Electron Shell
        uses: docker/build-push-action@v4
        with:
          platforms: ${{ matrix.platform }}
          context: .
          file: apps/smoker/shell.dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/smart_smoker:electron-shell_V${{ github.event.inputs.version }}

  # Deploy:
  #     needs: [buildSmoker, buildDeviceService, buildElectronShell]
  #     uses: benjr70/Smart-Smoker-V2/.github/workflows/smoker-deploy.yml@master
  #     with:
  #       version: ${{ github.event.inputs.version }}