# This is a basic workflow to help you get started with Actions

name: Build and Publish Cloud

# Controls when the workflow will run
on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
    inputs:
      version:
        description: 'version to release'
        type: string
        required: true
      pull_request:
        type: string
        required: false

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  FrontEnd:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - run: sudo chmod -R 777 ./

      - run: echo ${{ github.event.inputs.version }}

      - run: echo ${{ github.event.inputs.pull_request }}

      - name: Git Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.version || 'master' }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.11.1'

      - name: Use npm 10
        run: npm i -g npm@10

      - name: Cache Node Modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: frontend build
        run: npm run build --prefix apps/frontend

      - name: Build and push frontend
        uses: docker/build-push-action@v5
        with:
          platforms: linux/arm64
          context: .
          file: apps/frontend/Dockerfile
          push: ${{github.event.inputs.pull_request != 'pull_request'}}
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/smart_smoker:frontend_V${{ github.event.inputs.version }}

  Backend:
    runs-on: ubuntu-latest
    steps:
      - run: sudo chmod -R 777 ./

      - name: Git Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.version || 'master' }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.11.1'

      - name: Use npm 10
        run: npm i -g npm@10

      - name: Cache Node Modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: backend build
        run: npm run build --prefix apps/backend
      
      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          platforms: linux/arm64
          context: .
          file: apps/backend/Dockerfile
          push: ${{github.event.inputs.pull_request != 'pull_request'}}
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/smart_smoker:backend_V${{ github.event.inputs.version }}

  Deploy:
      if: github.event.inputs.pull_request != 'pull_request'
      needs: [FrontEnd, Backend]
      uses: benjr70/Smart-Smoker-V2/.github/workflows/cloud-deploy.yml@master
      secrets: inherit
      with:
        version: ${{ github.event.inputs.version }}

