# This is a basic workflow to help you get started with Actions

name: Build and Publish Cloud

# Controls when the workflow will run
on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
    inputs:
      verion:
        description: 'version to release'
        type: string
        required: true

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  FrontEnd:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - run: sudo chmod -R 777 ./

      - name: Git Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.version }}

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.15'

      - name: Use npm 8
        run: npm i -g npm@8

      - name: Cache Node Modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: frontend build
        run: npm run build --prefix apps/frontend

      - name: Build and push frontend
        uses: docker/build-push-action@v3
        with:
          platforms: linux/arm64
          context: .
          file: apps/frontend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/smart_smoker:frontend:${{ github.event.inputs.version }}

  Backend:
    runs-on: ubuntu-latest
    steps:
      - run: sudo chmod -R 777 ./

      - name: Git Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.version }}

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.15'

      - name: Use npm 8
        run: npm i -g npm@8

      - name: Cache Node Modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: backend build
        run: npm run build --prefix apps/backend
      
      - name: Build and push Backend
        uses: docker/build-push-action@v3
        with:
          platforms: linux/arm64
          context: .
          file: apps/backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/smart_smoker:backend:${{ github.event.inputs.version }}

  Deploy:
      needs: [FrontEnd, Backend]
      uses: benjr70/Smart-Smoker-V2/.github/workflows/cloud-deploy.yml
      with:
        version: ${{ github.event.inputs.version }}