# This is a basic workflow to help you get started with Actions
name: Smoker Deploy

on:
  workflow_call:

jobs:
  deploy: 
    runs-on: Smoker
        # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - run: sudo chmod -R 777 ./
      - uses: actions/checkout@v3

      - name: docker pull
        run: sudo docker compose -f smoker.docker-compose.yml pull

      - name: docker build
        run: sudo docker compose -f smoker.docker-compose.yml build --pull

      - name: docker compose down
        run: sudo docker compose -f smoker.docker-compose.yml down

      # - name: kill tailscale
      #   run: sudo systemctl stop tailscaled

      - name: docker compose up
        run: sudo docker compose -f smoker.docker-compose.yml up -d

      # - name: start tailscale
      #   run: sudo systemctl start tailscaled