# This is a basic workflow to help you get started with Actions
name: Smoker Deploy

on:
  workflow_call:

# uncomment this to call on merge
# on:
#   workflow_call:

jobs:
  deploy:
    runs-on:
      Smoker
      # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - run: sudo chmod -R 777 ./
      - uses: actions/checkout@v4

      - name: docker pull
        env:
          REPO_USER: ${{ secrets.DOCKERHUB_USERNAME }}
          REPO_PASS: ${{ secrets.DOCKERHUB_TOKEN }}
        run: sudo -E docker compose -f smoker.docker-compose.yml pull

      - name: docker build
        env:
          REPO_USER: ${{ secrets.DOCKERHUB_USERNAME }}
          REPO_PASS: ${{ secrets.DOCKERHUB_TOKEN }}
        run: sudo -E docker compose -f smoker.docker-compose.yml build

      - name: docker compose down
        env:
          REPO_USER: ${{ secrets.DOCKERHUB_USERNAME }}
          REPO_PASS: ${{ secrets.DOCKERHUB_TOKEN }}
        run: sudo -E docker compose -f smoker.docker-compose.yml down

      - name: docker compose up
        env:
          REPO_USER: ${{ secrets.DOCKERHUB_USERNAME }}
          REPO_PASS: ${{ secrets.DOCKERHUB_TOKEN }}
        run: sudo -E docker compose -f smoker.docker-compose.yml up -d

      - name: docker compose remove old containers
        run: sudo docker system prune -a --volumes --force
